/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.git
.gitignore
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.idea
.vscode
*.md
!README.md
backup_before_refactor.sql
*.sql
